<title>{{ type }}</title>

<div class="status-container">
  <div class="status">

    
    <ul class="integration-list">
    <li class="integration-list-item">
      <a href="/" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Thank you for your payment. We've charged the amount</p>
        </div>
      </a>
    </li>
    </ul>
    
    <a class="button" style="background-color:#87d200;" href="/" to="#/">Home</a>
  </div>
</div>
