<div class='main-container'>
  <div class="info">
  <body bgcolor="cadetblue" text="#ff0000">
  <br><br><br><br><br>
    <h3>Searching Your Ride ...<br>
   
    <script type="text/javascript">
    　let num = Math.floor(Math.random() * 10) + 18;
    　//alert(num);
     document.write("<br>");
     console.log("Estimated Cost:"　+ num);
    
    </script>
<div id="late2">
  <p>Found ! Estimated Cost is ...<p>
</div>
<div id="late">
  <p>IDR 455000<p>
</div>
    
</h3>
  </div>

<br><br><br><br><br><br><br>

<ul class="integration-list">
    <li class="integration-list-item" style="background-color:#87d200;">
      <a href="/preview?type=dropin" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title" style="background-color:#87d200;">Book Now</p>
        </div>
      </a>
    </li>
    <!--
   
    -->
    <li class="integration-list-item" style="background-color:#EDF7FF;">
      <a href="/" class="integration-list-item-link">
        <div class="title-container" style="background-color:#EDF7FF;">
          <p class="integration-list-item-title" style="background-color:#EDF7FF;">Look For Other</p>
        </div>
      </a>
    </li>
    <!--
    <li class="integration-list-item">
      <a href="/preview?type=boletobancario_santander" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Boleto Bancário</p>
          </body>
        </div>
      </a>
    </li>-->
  </ul>
</div>
