<div class='main-container'>
  <div class="info">
  <body bgcolor="cadetblue" text="#ff0000">
  <br><br><br><br><br>
    <h3>Your Ride is Approaching...<br>
   
    <script type="text/javascript">
    　let num = Math.floor(Math.random() * 10) + 18;
    　//alert(num);
     document.write("Estimated Cost will be: <br>");
     console.log("Estimated Cost:"　+ num);
    
    </script>

<div id="late">
  <p>IDR 45.25<p>
</div>
    
</h3>
  </div>

<br><br><br><br><br><br><br>

<ul class="integration-list">
    <li class="integration-list-item">
      <a href="/preview?type=dropin" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Book Now</p>
        </div>
      </a>
    </li>
    <!--
    <li class="integration-list-item">
      <a href="/preview?type=card" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Card</p>
        </div>
      </a>
    </li>
    <li class="integration-list-item">
      <a href="/preview?type=ideal" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">iDEAL</p>
        </div>
      </a>
    </li>
    <li class="integration-list-item">
      <a href="/preview?type=dotpay" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Dotpay</p>
        </div>
      </a>
    </li>
    <li class="integration-list-item">
      <a href="/preview?type=giropay" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">giropay</p>
        </div>
      </a>
    </li>
    <li class="integration-list-item">
      <a href="/preview?type=sepadirectdebit" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">SEPA Direct Debit</p>
        </div>
      </a>
    </li>
    <li class="integration-list-item">
      <a href="/preview?type=directEbanking" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">SOFORT</p>
        </div>
      </a>
    </li>
    <li class="integration-list-item">
      <a href="/preview?type=ach" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">ACH</p>
        </div>
      </a>
    </li>
    <li class="integration-list-item">
      <a href="/preview?type=alipay" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Alipay</p>
        </div>
      </a>
    </li>
    <li class="integration-list-item">
      <a href="/preview?type=klarna_paynow" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Klarna - Pay now</p>
        </div>
      </a>
    </li>
    <li class="integration-list-item">
      <a href="/preview?type=klarna" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Klarna - Pay later</p>
        </div>
      </a>
    </li>
    -->
    <li class="integration-list-item">
      <a href="/" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Look For Other</p>
        </div>
      </a>
    </li>
    <!--
    <li class="integration-list-item">
      <a href="/preview?type=boletobancario_santander" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Boleto Bancário</p>
          </body>
        </div>
      </a>
    </li>-->
  </ul>
</div>
