<title>{{ type }}</title>

<div class="status-container">
  <div class="status">

    {{/ifeq}}
    {{#ifeq type "pending" }}
    <img src="/images/thank-you.svg" class="status-image" alt="">
    {{/ifeq}}

    <p class="status-message">
      {{#ifeq type "success" }}
      You've booked the ride. Hanging there.
      {{/ifeq}}
      {{#ifeq type "pending" }}
      Your Payment Attempt has been pending. Not sure the ride comes.
      {{/ifeq}}
      {{#ifeq type "failed" }}
      The payment was refused. Don't even think of booking ride..
      {{/ifeq}}
      {{#ifeq type "error" }}
      Error. No Ride coming.
      {{/ifeq}}
    </p>
    
    <ul class="integration-list">
    <li class="integration-list-item">
      <a href="/final" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Confirm you get the destination</p>
        </div>
      </a>
    </li>
    </ul>
<script type="text/javascript" src="../final.js"></script>
  </div>
</div>
